@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
@keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
}
  

.bg{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.508);
    position: fixed;
    top:0px;
    z-index: 9;
}  
.menu{
    width: 80%;
    background-color: #242327;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    border-radius: 25px;
    position: fixed;
    top: 20px;
    z-index: 10;
    animation: fade-in 0.3s ease-in-out;
    animation: fade-out 0.3s ease-in-out;
    

    .heading{
        margin: 10px;
        font-family: monospace;
        color: white;
        font-size: 50px;
    }

    .wrapper{
        display: flex;
        background-color: #242327;
        width: 100%;
        border-radius: 25px;

        .skinwrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 400px;
    
            .skin{
                min-width: 200px;
            }
            
            .downloadbtn{
                display: flex;
                justify-content: center;
                flex-direction: row;
                background-color: aqua;
                max-width: 300px;
                height: 50px;
                border: black 10px;
                align-items: center;
                color: black;
                border-radius: 15px;
                margin: 30px;
    
                .dllink{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content:space-around;
                    color: black;
                    text-decoration: none;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 700;
                    font-size: 17px;
                    margin: 9px;
                    
    
                    .svg{
                        margin: 10px;
                    }
    
                }
    
            }
        }
    
        .playerinfo{
            display: flex;
            flex-direction: column;
            padding: 100px;
    
            .txt{
                margin: 10px;
                border-radius: 12px;
                background-color: #3e4146;
                color: #f0f0f1;
                min-width: 400px;
    
                .h2{
                    font-family: 'Roboto', sans-serif;
                    font-size: 22px;
                    padding: 7px;
                }
            }
        }
    }

    .svg{
        color: white;
        top: 0px;
        cursor: pointer;
    }


}

@media (max-width:1550px) {
        .menu{
//            flex-direction: column;

            .wrapper{
                flex-direction: row;


                .playerinfo{
                    padding: 20px;
                    .txt{
                        .h2{
                          font-size: 19px;
                        }
                    }
                }
                }

        }
}
@media (max-width:1110px) {
    .menu{
        .wrapper{
            .skinwrapper{
                .skin{
                    min-width: 150px;
                }
            }
        }
    }
    
}

@media (max-width:950px) {
    .menu{
        //            flex-direction: column;
        
                    .wrapper{
        
                        .playerinfo{
                            padding: 20px;
                            .txt{
                                .h2{
                                  font-size: 14px;
                                }
                            }
                        }
                        }
        
                }
}
@media (max-width:890px) {
    .menu{        
                    .wrapper{
                        .skinwrapper{
                            .skin{
                                min-width: 100px;
                            }
                        }
        
                        .playerinfo{
                            padding: 20px;
                            .txt{
                                margin: 4px;
                                min-width: 250px;
                                .h2{
                                  font-size: 14px;
                                }
                            }
                        }
                        }
        
                }
}

@media (max-width:410px){
    .menu{
        .heading{
            font-size: 38px;
        }
    }

}

@media (max-width:350px) {
    .menu{        
                    .wrapper{
        
                        .playerinfo{
                            padding: 20px;
                            .txt{
                                min-width: 220px;
                                .h2{
                                  font-size: 14px;
                                }
                            }
                        }
                        }
        
                }
}
