

.container {
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #25282d;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .title{
    font-family: monospace;
    color: white;
    font-size: 50px;

  }

  .wrapper{
    background-color: #25282d;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
}

@keyframes bobAnimation {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  
  .component {
    animation: bobAnimation 3s infinite;
  }

.box {
  background-color: #3e4146;
  width: 300px;
  height: 500px;
  margin: 25px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  animation: bobAnimation 3s infinite;

  animation: bob 3s timing-function delay iteration-count direction fill-mode;


      .playerhead{
        border-radius: 8px;
      }

      .playerinfo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .name{
            color: white;
            font-family:monospace;
            font-size: 35px;
        }

        .desc{
            color: white;
            font-family:monospace;
            font-size: 16px;
        }
      }
    
      .infobtn {
        margin: 10px;
        width: 150px;
        height: 50px;
        border-radius: 25px;
        background-color: black;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-around;
        cursor: pointer;
        transition: 2s;

        .btntxt{
            font-family: sans-serif;
            font-size: 15px;
        }

        
      }
      .infobtn:hover{
        background-color: aqua;
        color: black;
        transform: translateY(-10px);
        transition: 1s;

    }

}

.box:hover{
    animation:  none;
    transition: 1s;
}

@media (max-width:950px){
  .box{
    width: 200px;
    height: 400px;
    .playerinfo{
      .name{
        font-size: 24px;
      }
    }
  }
}
@media (max-width:950px){
  .box{
    width: 250px;
    height: 400px;
    .playerinfo{
      .name{
        font-size: 24px;
      }
    }
  }
}
@media (max-width:620px){
  .box{
    width: 300px;
    height: 380px;
    .playerinfo{
      .name{
        font-size: 24px;
      }
    }
  }
}