

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #25282d;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .title{
    font-family: monospace;
    color: white;
    font-size: 50px;

  }

  .wrapper{
    background-color: #25282d;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
}

@keyframes bobAnimation {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  
  .component {
    animation: bobAnimation 3s infinite;
  }

.box {
  background-color: #3e4146;
  width: 300px;
  height: 500px;
  margin: 25px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  animation: bobAnimation 3s infinite;

  animation: bob 3s timing-function delay iteration-count direction fill-mode;


      .playerhead{
        border-radius: 8px;
      }

      .playerinfo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .name{
            color: white;
            font-family:monospace;
            font-size: 35px;
        }

        .desc{
            color: white;
            font-family:monospace;
            font-size: 16px;
        }
      }
    
      .infobtn {
        margin: 10px;
        width: 150px;
        height: 50px;
        border-radius: 25px;
        background-color: black;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-around;
        cursor: pointer;
        transition: 2s;

        .btntxt{
            font-family: sans-serif;
            font-size: 15px;
        }

        
      }
      .infobtn:hover{
        background-color: aqua;
        color: black;
        transform: translateY(-10px);
        transition: 1s;

    }

}

.box:hover{
    animation:  none;
    transition: 1s;
}

.Player_profile{
  height: 60vh;
  width: 50vw;
  background-color: #242327;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 25px;
  margin: 100px;
  position:absolute;
  z-index: 10;


  .heading{
      margin: 10px;
      font-family: monospace;
      color: white;
      font-size: 50px;
  }

  .wrapper{
      display: flex;
      flex-direction: row;
      margin: 10px;

      .skinwrapper{
          display: flex;
          flex-direction: column;
          align-items: center;
  
          .skin{
              width: 300px;
          }
          
          .downloadbtn{
              display: flex;
              justify-content: center;
              flex-direction: row;
              background-color: aqua;
              width: 220px;
              height: 50px;
              border: black 10px;
              align-items: center;
              color: black;
              border-radius: 15px;
              margin: 30px;
  
              .dllink{
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  color: black;
                  text-decoration: none;
                  font-family: 'Roboto', sans-serif;
                  font-weight: 700;
                  font-size: 20px;
                  
  
                  .svg{
                      margin: 10px;
                  }
  
              }
  
          }
      }
  
      .playerinfo{
          display: flex;
          flex-direction: column;
          padding: 100px;
  
          .txt{
              margin: 10px;
              border-radius: 12px;
              background-color: #3e4146;
              color: #f0f0f1;
              width: 500px;
  
              .h2{
                  font-family: 'Roboto', sans-serif;
                  font-size: 22px;
                  padding: 7px;
              }
          }
      }
  }


}